# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.classd

# Swap files
*.swp

*.pyc

npm-debug.log

*.eot
*.svg
*.ttf
frontend/static/*.js
frontend/static/*.js.map
frontend/node_modules
